@using System.Threading
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portal</title>

    <link rel="shortcut icon" href="~/favicon.ico">

    @Styles.Render("~/Bundles/App/vendor/css")
    @Styles.Render("~/Bundles/App/Main/css")

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->
    @Scripts.Render("~/Bundles/App/vendor/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?type=angular"></script>
    <script src="~/AbpScripts/GetScripts" type="text/javascript"></script>

    @Scripts.Render("~/Bundles/App/Main/js")

    <script src="~/Scripts/dirPagination.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/bower_components/tinymce-dist/tinymce.js"></script>
    <script type="text/javascript" src="~/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <style>
        .fullscreen-dialog {
           height:85%;
           width:90%;
           max-height:85%;
           max-width: 90%;
           position: absolute;
           top: 7.5%;
           left: 5%;
           border-radius: 0;
       }
        button:disabled {
            background:#ccc;
            color:#ccc;
        }
        .disabled {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
            filter: alpha(opacity=20);
            -moz-opacity: 0.2;
            -khtml-opacity: 0.2;
            opacity:0.2;
        }
        dd {
            margin-left:25px;
        }
        .nav>li>a:hover, .nav>li>a:focus {
            background-color: #0066cc;
        }
    </style>
</head>
<body>
<div ng-app="app" ng-controller="app.views.layout as vm" layout="column" layout-fill>
    <header flex ng-include="'/App/Main/views/layout/header.cshtml'"></header>
    <main class="container" layout="row" flex>
        <div class="angular-animation-container row" flex>
            <div ui-view class="shuffle-animation col-xs-12"></div>
        </div>
    </main>
    <footer flex="1" layout="row" ng-include="'/App/Main/views/layout/footer.cshtml'"></footer>
</div>
</body>
</html>


